* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
 
    width: 100%;

  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 0 10px;
    width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .logo{
    width: 210px;
    height: 70px;
    margin-top : 20px;
    margin-left: 20px;
  }
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
  }
  
  nav a {
    color: blue;
    text-decoration: none;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav img {
    height: 50px;
    width: auto;
  }
  .button {
    background-color:blue; /* Green */
    border: 4px 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
  }
  nav a img {
    background-repeat: no-repeat;

  }
  main>img{
    position: absolute;
  }
  .school{
    right: 5%;
    top: 30%;
  }
  .college{
    left: 5%;
    top: 30%;
  }


  
  
  